#include <winver.h>
1 ICON "chat.ico"
1 24 "moraba-chat.manifest"
2 RCDATA ".vendor/WebView2Loader.dll"
1 VERSIONINFO
FILEVERSION 2,1,0,0
PRODUCTVERSION 2,1,0,0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "Moraba Studio"
      VALUE "FileDescription", "Moraba Chat"
      VALUE "ProductName", "Moraba Chat"
      VALUE "FileVersion", "2.1.0"
      VALUE "ProductVersion", "2.1.0"
      VALUE "OriginalFilename", "MorabaChat.exe"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
